* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
    font-family: 'Pixelify Sans';          
}

#Main{
    height: 100%;
    box-sizing: content-box;
}

.col{
    background-image: url("img/ut.png");
    width: 130px !important;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;
    animation: scroll 1.15s linear infinite;
}

#C-1{
    background-image: url("img/balut.png");
}

.Car{
    width: 80px !important;
    margin-left: 22%;
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.obs{
    width: 80px;
    margin-left: 25px;
}

#MTable
{
    height: 642px;
    width: 652px;
    margin: auto auto;
    margin-top: 8%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}

#startText{
    font-size: 48px;
    color: rgb(69, 69, 253);
    text-align: center !important;
    position: absolute;
    top: 43%;
    left: 42%;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 1px black;
}

#endText{
    font-size: 48px;
    color: red;
    text-align: center !important;
    position: absolute;
    top: 44%;
    left: 44%;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 1px black;
}

#SCCont{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: darkgoldenrod;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: solid black 2px;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 1px black; 
}

#sc{
    text-align: center;
}

@keyframes scroll {
    to {
      background-position: 0 480px;
    }
}
