#Main{
    height: 100%;
    box-sizing: content-box;
}

.col{
    background-image: url("img/ut.png");
    width: 130px !important;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;
}

#C-1{
    background-image: url("img/balut.png");
}

.Car{
    width: 80px !important;
    margin-left: 22%;
    position: relative;
    top: 200px;
}

.obs{
    width: 80px;
    margin-left: 25px;
}

.obsT1{
    bottom: 568px; /* T1 low value is 568 ,use half - 84 in CSS- */
}

#MTable
{
    height: 642px;
    width: 652px;
    margin: auto auto;
    margin-top: 8%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}

#startText{
    font-size: 48px;
    color: red;
    text-align: center !important;
    position: absolute;
    top: 43%;
    left: 42%;
}
